@import 'variables';

.RobotConnectionErrorModal {
    width: 35rem;
}

.RobotConnectionErrorModal__content {
    padding: 3rem 4rem;
}

.RobotConnectionErrorModal__header {
    font-weight: bold;
}

.RobotConnectionErrorModal__error-svg {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.RobotConnectionErrorModal__body {
    margin-top: 1rem;
}

.RobotConnectionErrorModal__footer {
    margin-top: 3rem;
    text-align: center;
}

.RobotConnectionErrorModal__option-button {
    min-width: 11rem;
}
